| RNC | Legal Name | Status |
|---|---|---|
| 101019921 | SUPERMERCADOS NACIONAL, S. A. | Active |